{% use '@BaseEasyAdmin/form/bootstrap_3_layout.html.twig' %}

{% block easyadmin_embedded_list_row %}
  {% set default_filters = entity_fqcn is defined
                            ? guess_default_filters(entity_fqcn, parent_entity_property, form.parent.vars.data)
                            : []
  %}
  {% set filters = default_filters|merge(filters) %}
  {% include '@EasyAdmin/includes/_include_embedded_list.html.twig' with {
    entity: entity,
    filters: filters,
    sort: sort|default(null)
  } only %}
{% endblock %}

{% block easyadmin_admin_roles_widget %}
  {{ checkbox_tree(form) }}
{% endblock %}

{% block item_actions %}
    {% set _translation_domain = easyadmin.entity.translation_domain %}
    {% set _trans_parameters = { '%entity_name%':  easyadmin.entity.name|trans, '%entity_label%': easyadmin.entity.label|trans } %}

    {# the 'save' action is hardcoded for the 'edit' and 'new' views #}
    <button type="submit" class="btn btn-primary action-save">
        <i class="fa fa-save"></i> {{ 'action.save'|trans(_trans_parameters, _translation_domain) }}
    </button>

    {% set _entity_actions = (easyadmin.view == 'new')
        ? easyadmin_get_actions_for_new_item(easyadmin.entity.name)
        : easyadmin_get_actions_for_edit_item(easyadmin.entity.name) %}

    {% set _entity_id = (easyadmin.view == 'new')
        ? null
        : attribute(easyadmin.item, easyadmin.entity.primary_key_field_name) %}

    {% set _request_parameters = { entity: easyadmin.entity.name, referer: app.request.query.get('referer') } %}

    {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
        actions: _entity_actions|prune_item_actions(easyadmin.entity, [], value),
        request_parameters: _request_parameters,
        translation_domain: _translation_domain,
        trans_parameters: _trans_parameters,
        item_id: _entity_id
    }, with_context = false) }}
{% endblock item_actions %}

{# EasyAdminAutocomplete form type #}
{% block easyadmin_autocomplete_widget %}
    {% if form.vars.attr.create %}
        {{ form_widget(form.autocomplete, {
            attr: attr|merge({
                'data-easyadmin-autocomplete-add-url' : path('easyadmin', {
                    action: 'autocomplete',
                    entity: autocomplete_entity_name,
                })|raw,
                'data-easyadmin-autocomplete-action-url' : path('easyadmin', {
                    action: 'newAjax',
                    entity: autocomplete_entity_name,
                })|raw,
                'data-easyadmin-autocomplete-field-name' : name|raw
            })
        }) }}
    {% else %}
        {{- parent() -}}
    {% endif %}
{% endblock easyadmin_autocomplete_widget %}

{# {% block easyadmin_autocomplete_create_inner_label %}
    {% set name = form.parent.vars.name %}
    {{- block('form_label') -}}
{% endblock easyadmin_autocomplete_create_inner_label %} #}
