{% for action in actions %}
  {% if 'list' == action.name %}
      {% set action_href = request_parameters.referer|default('') ? request_parameters.referer|easyadmin_urldecode : path('easyadmin', request_parameters|merge({ action: 'list' })) %}
  {% elseif 'method' == action.type %}
      {% set action_href = path('easyadmin', request_parameters|merge({ action: action.name, id: item_id })) %}
  {% elseif 'route' == action.type %}
      {% set action_href = path(action.name, request_parameters|merge({ action: action.name, id: item_id })) %}
  {% endif %}

  {% set confirm = false %}
  {% if action.confirm is defined and action.confirm %}
    {% set confirm = action.confirm %}
  {% endif %}

  <a name="{{ action.name }}" class="{{ action.css_class|default('') }} {{ confirm ? 'action-confirm' : '' }}" title="{{ action.title|default('') is empty ? '' : action.title|trans(trans_parameters, translation_domain) }}" href="{{ action_href }}"
  {% if not confirm %}
    target="{{ action.target }}"
  {% else %}
    data-confirm="{{ confirm }}"
  {% endif %}>

      {%- if action.icon %}<i class="fa fa-{{ action.icon }}"></i> {% endif -%}
      {%- if action.label is defined and not action.label is empty -%}
          {{ action.label|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}
      {%- endif -%}
  </a>
{% endfor %}
