<a name="{{ action.name }}" class="{{ action.css_class|default('') }}" title="{{ action.title|default('') is empty ? '' : action.title|trans(trans_parameters, translation_domain) }}" {% if not confirm %}href="{{ action_href }}" target="{{ action.target }}"{% else %}href="#" data-href="{{ action_href }}" data-confirm="{{ confirm }}"{% endif %}>
  {%- if action.icon %}<i class="fa fa-{{ action.icon }}"></i> {% endif -%}
  {%- if action.label is defined and not action.label is empty -%}
    {{ action.label|trans(trans_parameters|merge({ '%entity_id%': item_id }), translation_domain) }}
  {%- endif -%}
</a>
