{% extends '@BaseEasyAdmin/default/list.html.twig' %}

{% set requestFilters = app.request.get('filters', {}) %}
{% set _request_parameters = _request_parameters|default({})|merge({
    filters: requestFilters
}) %}

{% block content_title_wrapper %}
  <h1 class="title">
    {{ block('content_title') }}
    {# Show applied filters informations #}
    {% if requestFilters|length > 0 %}
      <span class="pull-right">
        <a href="#" id="applied-request-filters-popover" data-toggle="collapse" data-target="#applied-request-filters">
          <i class="fa fa-filter text-warning"></i>
        </a>
      </span>
    {% endif %}
  </h1>
  <div class="pull-right collapse" id="applied-request-filters">
    <dl class="dl-horizontal">
    {% for filterKey, filterValue in requestFilters %}
      <dt>{{ filterKey }}</dt><dd>{{ filterValue is iterable ? filterValue|join(',') : filterValue }}</dd>
    {% endfor %}
    </dl>
  </div>
{% endblock %}

{# Do not display SEARCH form if not granted #}
{% block search_action %}
  {% if is_easyadmin_granted(_entity_config, 'search') %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{# Do not display NEW button if not granted #}
{% block new_action %}
  {% if is_easyadmin_granted(_entity_config, 'new') %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{# Do not display list action items if not granted #}
{% block item_actions %}
  {% set _list_item_actions = _list_item_actions|prune_item_actions(_entity_config) %}
  {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
      actions: _list_item_actions,
      request_parameters: _request_parameters,
      translation_domain: _entity_config.translation_domain,
      trans_parameters: _trans_parameters,
      item_id: _item_id
  }, with_context = false) }}
{% endblock %}

{# Adds request filters to the serach form #}
{% block search_form %}
  {% for field, value in requestFilters %}
    {% if value is iterable %}
      {% for val in value %}
        <input type="hidden" name="filters[{{ field }}][]" value="{{ val }}">
      {% endfor %}
    {% else %}
      <input type="hidden" name="filters[{{ field }}]" value="{{ value }}">
    {% endif %}
  {% endfor %}
  {{ parent() }}
{% endblock %}

{% block body_javascript %}
  {{ parent() }}

  <script type="text/javascript">
    $(function() {

      $('.action-confirm').on('click', function(e) {
        e.preventDefault();

        var message = $(this).data('confirm');
        if (typeof message === "string") {
          $('#modal-confirm .modal-body p#modal-body-content').html(message);
        }

        var icon = $(this).find('i').attr('class');
        var confirmButton = $('#modal-confirm-button');
        confirmButton.find('i').remove();
        if (icon) {
          confirmButton.prepend('<i class=\"' + icon + '\"></i>');
        }

        var href = $(this).attr('href');
        var confirmForm = $('#confirm-form');
        confirmForm.attr('action', href);

        $('#modal-confirm').modal({ backdrop: true, keyboard: true })
          .off('click', '#modal-confirm-button')
          .on('click', '#modal-confirm-button', function () {
            confirmForm.trigger('submit');
          });
      });
    });
  </script>
{% endblock %}

{% block main %}
  {{ parent() }}

  {% block confirm_form %}
    {% set referer = paginator.currentPage == paginator.nbPages and 1 != paginator.currentPage and 1 == paginator.currentPageResults|length
      ? path('easyadmin', app.request.query|merge({ page: app.request.query.get('page') - 1 }))
      : app.request.requestUri
    %}

    {{ include('@EasyAdmin/includes/_confirm_form.html.twig', {
      view: 'list',
      referer: referer|url_encode,
      _translation_domain: _entity_config.translation_domain,
      _trans_parameters: _trans_parameters,
      _entity_config: _entity_config,
    }, with_context = false) }}
  {% endblock confirm_form %}
{% endblock %}
