{% extends '@BaseEasyAdmin/default/show.html.twig' %}

{% block main %}
    <div class="row">
        {% block show_fields %}
            {% for field, metadata in fields %}
                {% block show_field %}
                    <div class="form-group field-{{ metadata.type|default('default')|lower }} {{ metadata.css_class|default('') }}">
                        <label class="control-label">
                            {{ (metadata.label ?: field|humanize)|trans(_trans_parameters)|raw }}
                        </label>
                        <div class="form-control">
                            {{ easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) }}
                        </div>

                        {% if metadata.help|default('') != '' %}
                            <span class="help-block"><i class="fa fa-info-circle"></i> {{ metadata.help|trans|raw }}</span>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endfor %}
        {% endblock %}

        <div class="form-group form-actions">
            <div class="col-sm-10 col-sm-offset-2">
            {# Do not display list action items if not granted #}
            {% block item_actions %}
              {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name)|prune_item_actions(_entity_config) %}
              {% set _request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}

              {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                  actions: _show_actions,
                  request_parameters: _request_parameters,
                  translation_domain: _entity_config.translation_domain,
                  trans_parameters: _trans_parameters,
                  item_id: _entity_id
              }, with_context = false) }}
            {% endblock item_actions %}
            </div>
        </div>
    </div>

    {% block delete_form %}
        {{ parent() }}
    {% endblock delete_form %}
{% endblock %}
